.rbfw_rent_list_style_list .rbfw_rent_list_inner_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}


.rbfw_rent_list_lists_images {
    width: 33%;
    max-width: inherit;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rbfw_rent_list_lists_info {
    width: 67%;
}

@media(max-width: 991px) {
    .rbfw_rent_list_style_list .rbfw_rent_list_inner_wrapper {
        flex-direction: column;
    }

    .rbfw_rent_list_lists_info, .rbfw_rent_list_lists_images {
        width: 100%;
    }
}


.rbfw_rent_list_lists_left {
    display: flex;
    width: calc(100% - 180px);
    /*width: 100%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-color: #0a4b78;*/
}

.rbfw_rent_show_result_list_grid_icon_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    gap: 15px;
    margin-bottom: 20px;
}

.rbfw_shoe_result_text {
    text-align: left;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

.rbfw_rent_list_grid_icon_holder {
    display: flex;
    gap: 10px;
/
}

.rbfw_rent_lists_grid_view {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    gap: 20px;
    /* background: #fff; */
    -webkit-box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0);
    /* border: 1px solid #d9d9d9; */
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
    justify-content: space-between;
    width: 100%;
    background-color: #f1f1e5;
    min-height: 620px;
}

.rbfw_rent_item_content_list_bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-inline-start: 0px;
    font-size: 14px;
    margin: 0 0 30px 0;
}

.rbfw_rent_item_content_list_bottom .bfw_rent_list_items {
    font-size: 16px;
    gap: 7px;
    color: #0a0a0a;
}

.rbfw_rent_item_content_list_bottom .bfw_rent_list_items i {
    color: var(--rbfw_color_primary);
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.rbfw_rent_list_btn_holder {

}

.rbfw_rent_items_grid, .rbfw_rent_items_list {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.rbfw_rent_items_list_grid svg {
    width: 24px;
    height: auto;
}

.rbfw_rent_items_grid:hover, .rbfw_rent_items_list:hover {
    background-color: #e0e0e0;
}

.rbfw_rent_item_description {
    display: grid;
    width: 100%;
    text-align: left;
}

.rbfw_rent_item_description_text {
    color: currentColor;
    font-size: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.rbfw_rent_list_style_list .rbfw_rent_item_description_text {
    display: -webkit-box !important;
}

.selected_list_grid, .selected_list_grid:hover {
    background-color: var(--rbfw_color_primary);
    border-color: var(--rbfw_color_primary);
    color: #f6f6f6;
}

.selected_list_grid svg path {
    fill: #fff;
}


/*Animation*/
.rbfw_rent_list_lists_images,
.rbfw_rent_list_grid_view_top,
.rbfw_rent_item_content_list_bottom {
    transition: all 0.3s ease;
}

.rbfw_rent_list_grid_view_top {
    opacity: 1;
    transform: scale(1);
}

.rbfw_rent_list_lists_images {
    opacity: 1;
    /*transform: scale(0.9);*/
}

@media only screen and (max-width: 1220px) {
    .rbfw_rent_list_lists_left {
        width: 100%;
    }

    .bfw_rent_list_btn_holder {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .rbfw_rent_list_lists_view {
        display: grid;
    }

    .rbfw_rent_list_lists_images {
        min-height: 100%;
    }

    .rbfw_rent_list_style_list .rbfw_rent_list_inner_wrapper {
        display: grid;
    }

    .rbfw_rent_list_lists_images {
        width: 100%;
    }

    .rbfw_rent_list_lists_info {
        width: 100%;
        display: grid;
    }

    .bfw_rent_list_btn_holder {
        display: block;
        width: 100%;
    }

    .bfw_rent_list_booking_btn_holder {
        margin: 10px;
    }
}

/*Search Short Code*/
.rbfw_rent_item_search_elementor_section .rbfw_rent_item_search_elementor_container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


.rbfw_rent_item_search_container {
    display: flex;
    gap: 20px;
    position: relative;
    padding: 20px 30px;
    z-index: 2;
    box-shadow: 0 0 0 0px #dfdfdf;
    background-color: #f3f3f3;

    overflow: hidden;
    max-width: 100%;
    margin: auto;
}

.rbfw_search_form_new {
    width: 100%;
    margin: auto;
}

.rbfwRentItemSearchTitleHolder {
    display: flex;
    position: relative;
    width: 130px;
}

.rbfw_rent_item_searchContentHolder {
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
}

.rbfw_rent_item_searchTypeLocationHolder {
    display: flex;
    width: 50%;
    gap: 35px;
}

.rbfw_rent_item_search_dateButtonHolder {
    display: flex;
    width: 50%;
    gap: 30px;
}

.c-filter__field--header {
    flex: 0 0 auto !important;
    width: auto !important;
    margin-right: 65px;
    white-space: nowrap;
}

.rbfw_rent_item_SearchTitl_text {
    flex: 1 1 33%;
    position: relative;
    margin-right: 40px;
    /*margin-top: 15px;*/
}

.rbfw_rent_item_header {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.6px;
    color: #333333;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    width: 100px;
    padding-left: 10px;
}

.rbfw_rent_item_search_type_location {
    height: auto;
    line-height: 1.2;
    border: none;
    width: 100%;
    font-size: 15px;
    border-radius: 0;
    background-color: #f6f6f6f6;
    cursor: pointer;
    border: 1px solid #dddddd;
}

.rbfw_rent_item_search_item {
    width: 100%;
    position: relative;
}

#rbfw_rent_item_search_calendar_icon{
    position: absolute;
    right:6px;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 13px;
    font-size: 9px;
    text-align: right;
}

#rbfw_rent_item_search_pickup_date {
    border-color: unset;
    border-width: unset;
    border-style: unset;
    background-color: unset;
    color: #333;
    font-size: 15px;
    background-color: #f6f6f6f6;
    cursor: pointer;
    border: 1px solid #dddddd;
    border-radius: 0;
    padding: 7px;
}

.rbfw_rent_item_search_type_location {

    padding: 10px;
    /*border: 1px solid #ddd;*/
    font-size: 14px;
    color: #333;
    width: 100%;
}

.rbfw_rent_item_search-item_date {
    width: 50%;
}

.rbfw_rent_item_search_button_holder {
    display: flex;
    /*align-items: flex-end;*/
    width: 50%;
    justify-content: center;
}

.rbfw_rent_item_search_submit {
    padding: 5px 10px;
    background-color: var(--rbfw_color_primary);
    border: none;
    color: white;
    width: calc(100% - 40px);
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
}

.rbfw_rent_item_search_button button:hover {
    background-color: var(--rbfw_color_primary);
}

.rbfw_rent_item_search_button button i {
    padding-left: 12px;
    margin-right: 8px;
}

.rbfw_rent_item_date_picker {
    display: flex;
    flex-direction: column;
}


.rbfw_rent_item_search_date_picker_wrapper {
    position: relative;
    display: flex;
    align-items: center;

    border: 1px solid #dddddd;
    color: #666666;
    font-size: 15px;
    /*min-width: 205px;*/
}

.rbfw_rent_item_search_date_picker_wrapper i {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: var(--rbfw_color_primary);
    cursor: pointer;
}

#calendar-icon {
    cursor: pointer;
}

.rbfw_rent_item_search_button {
    width: 100%;
}

.rbfw_show_all_cat_features{
    display: block;
    float: left;
    position: relative;
    color: #666666;
    padding: 10px;
    width: 100%;
    /*max-height: 600px;*/
    top: -15px;
    text-align: justify;
    /*overflow: scroll;*/
}

.rbfw_see_more_category:hover + #rbfw_show_all_cat_features {
    display: block; /* Show div1 when div0 is hovered */
}
.rbfw_see_more_category{
    display: block;
    float: right;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    color: #333333;
    z-index: 10;
}
.rbfw_popup_fearure_title{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    /*color: #333333;*/
    margin: 10px 0;
}
ul.rbfw_popup_fearure_lists{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

ul.rbfw_popup_fearure_lists li{
    color: #333;
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #ebebeb;
}
/* Styles for the popup wrapper */
.rbfw_popup_wrapper {
    display: none;
    top: 0;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0000009c;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Styles for the popup */
.rbfw_rent_cat_info_popup {
    background-color:#fff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 400px;
    max-width: 90%;
    text-align: left;
    top: 75px;
    margin: auto;
    height: 75vh;
    overflow: auto;
}

/* Close button styles */
.rbfw_popup_close_btn {
    position: absolute;
    top: 0px;
    padding: 3px 8px;
    right: 0px;
    font-size: 28px;
    cursor: pointer;
    color: #ddd7d7;
}
.rbfw_popup_close_btn:hover{
    color: #990000;
}

/* Popup content styles */
#rbfw_popup_content{
    display: flex;
    margin-top: 10px;
    /*overflow-y: auto;*/
    height: auto;
}
.rbfw_toggle-content{
    font-size: 14px;
    width: 100%;
    max-width: 400px;
    word-wrap: break-word;
}
.rbfw_types{
    display: flex;
    float: left;
    position: relative;
    width: 173px;
    margin-right: 10px;
}
.rbfw_toggle_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 13px;
}
/* Styles for the list */
ul.rbfw_show_all_cat_features {
    list-style: none;
    padding: 0;
    margin: 0;
}
.rbfw_left_filter_clearButton{
    position: absolute;
    right: 5px;
    margin-top: 4px;
    background-color: #fff;
    border: 1px solid #dbd6d6;
    padding:5px 10px;
    border-radius: 3px;
    color: var(--rbfw_color_primary);
    font-size: 11px;
}
.rbfw_left_filter_clearButton:hover{
    background-color: var(--rbfw_single_page_secondary_color);
    color: var(--rbfw_color_primary);
    cursor: pointer;
}

ul.rbfw_show_all_cat_features li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

ul.rbfw_show_all_cat_features li:last-child {
    border-bottom: none;
}

.bfw_rent_list_items_icon {
    margin-right: 10px;
}

.rbfw_left_filter_cover{
    display: none;
    float: left;
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0;
    background-color: #ffffff42;
}


/*Search Short Code*/
@media (min-width:0px) {
    .rbfw_rent_item_searchContentHolder{
        box-shadow: 0 0 0 0px #dfdfdf;
        background-color: #F8F8F8;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .rbfw_rent_item_searchTypeLocationHolder,.rbfw_rent_item_search_dateButtonHolder{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .rbfw_rent_item_search_item{
        width: 100%;
    }

    .rbfw_rent_item_search-item_date{
        width: 100%;
        position: relative;
    }
    

    .rbfw_rent_item_search_button_holder{
        width: 100%;
    }

    .rbfw_rent_item_searchTypeLocationHolder select,.rbfw_rent_item_search_dateButtonHolder input{
        display: block;
        width: 100%;
        color: #333;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
    }
    .rbfw_rent_item_search_dateButtonHolder input{
        padding: 8px 10px;
    }

    #rbfw_rent_item_search_pickup_date,.rbfw_rent_item_search-item_date i{
        /*display: none;*/
    }
    .rbfw_rent_item_search_dateButtonHolder .flatpickr-mobile{
        font-size: 12px;
        font-weight: normal;
        padding: 12px 6px;
        color: #5e5e5e;
    }
    .rbfw_rent_item_search-item_date input.fa-chevron-down:before {
        content: none;
    }

    input.rbfw_rent_item_search_submit{
        cursor: pointer;
        background-color: var(--rbfw_color_primary);
        color: #fff;
        border: 1px solid var(--rbfw_color_primary);
    }
    input.rbfw_rent_item_search_submit:hover{
        background-color: var(--rbfw_single_page_secondary_color);
        color: #fff;
    }

}
@media (min-width:1024px) {
    .rbfw_rent_item_searchTypeLocationHolder,.rbfw_rent_item_search_dateButtonHolder{
        width: 50%;
        flex-direction: row;
    }

    .rbfw_rent_item_search_item{
        width: 50%;
    }

    .rbfw_rent_item_search-item_date{
        width: 50%;
    }

    .rbfw_rent_item_search_button_holder{
        width: 50%;
    }

    .rbfw_rent_item_search-item_date i{
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 10px;
    }

    #rbfw_rent_item_search_pickup_date{
        display: block;
    }
}

@media (max-width: 420px) {

    .rbfw_rent_item_search_container {
        display: block;
        width: calc(100% - 10px);
    }

    .rbfw_rent_item_search_button {
        margin-left: unset;
    }
}

.rbfw_rent_item_with_left_filter{
    display: flex;
    gap: 20px;
    min-height: 1200px;
    /*background-color: #990000;*/
}

/*Filter Css */
.rbfw_filter_sidebar {
    width: 230px;
    position: absolute;
    margin: 1px;
    z-index: 111;
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
}
.rbfw_filter_area{
    padding: 10px;
    min-height:1100px;
}

.rbfw_title_text.title{
    padding: 10px;
    background-color: var(--rbfw_color_primary);
    color: #fff;
}

.rbfw_title_text.title h4{
    margin: 0;
    font-weight:normal;
    color:#fff;
}

.rbfw_rent_list_wrapper_with_left_filter{
    width: calc( 100% - 230px );
    margin-left: 250px;
}
.rbfw_rent_list_wrapper{
    width: 100%;
}
.rbfw_left_filter_button{
    width: calc( 100% - 10px);
    background-color: #d7d7d7;
    text-align: center;
    border-radius: 2px;
    color: #f6f6f6;
    padding: 5px 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
}
.rbfw_filter_sidebar h3 {
    margin-bottom: 10px;
    font-size: 18px;
}
.rbfw_filter_sidebar label {
    display: block;
    margin-bottom: 5px;
}
.rbfw_filter_sidebar input[type="checkbox"] {
    height: 15px;
    margin-right: 5px;
}
.rbfw_rent_item_feature_des_text{
    font-size: 14px;
}

.rbfw_filter_sidebar .rbfw_price-range {
    margin-bottom: 20px;
    
}

.rbfw_filter_sidebar .rbfw_price-range p {
    margin-bottom: 10px;
}

.rbfw_filter_sidebar_feature,
.rbfw_filter_sidebar_category,
.rbfw_filter_sidebar_locations,
.rbfw_filter_sidebar_product-type {
    margin-bottom: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.rbfw_toggle-header {
    cursor: pointer;
    user-select: none;
    margin-block-start: 2px;
    margin-block-end: 7px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px dotted #d0d7de;
    padding: 10px 0;
}

.rbfw_white_color{
    color: #ffffff;
    text-align: center;
}
.rbfw_rent_item_left_feature_title{
    display: flex;
    padding: 1px 1px;
    align-items: center;
}

.rbfw_toggle-icon {
    float: right;
    font-size: 1.2em;
    color: var(--rbfw_color_primary);
}

/* ==============range========= */
.rbfw_toggle-content .price-range{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 0px;
}
.rbfw_toggle-content .price-range label{
    width: 100%;
}
.rbfw_toggle-content #slider-range {
    position: relative;
    margin: 6px;
    height: 10px;
    background: #e4e4e4;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.rbfw_toggle-content #slider-range .ui-slider-range {
    background: var(--rbfw_color_primary); /* Orange color for the range */
    border-radius: 5px;
}

.rbfw_toggle-content #slider-range .ui-slider-handle {
    position: absolute;
    top: -6px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid var(--rbfw_color_primary);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rbfw_toggle-content #slider-range .ui-slider-handle:hover {
    background: var(--rbfw_single_page_secondary_color);
}

.rbfw_toggle-content #slider-range .ui-slider-handle.ui-state-focus {
    outline: none;
    border-color: var(--rbfw_single_page_secondary_color);
}
/* ============range============ */
#rbfw_left_filter_price {
    font-size: 14px;
    text-align: right;
    margin-bottom: 0px;
    display: inline-block;
    background: none;
    padding: 0;
    border: 0;
    color: var(--rbfw_color_primary);
}


.rbfw_rent_item_fearture_holder{
    margin-bottom: 0px;
    /*max-height: 350px;*/
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#rbfw_feature_loadMore {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.rbfw_search_result_empty{
    font-weight: var(--fw-medium);
    font-size: var(--fs_h3);
    color: var(--color_warning);
    text-align: center;
    width: 100%;
    background-color: #FFF;
    padding: var(--dmp);
    margin: var(--dmp) 0;
}

#rbfw_feature_loadMore:hover {
    background-color: #0056b3;
}

.rbfw_filter_icon{
    font-size: 20px;
    padding-right: 5px;
}
.rbfw_left_filter_text_Search_holder {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    gap: 0px;
}

.rbfw_search_by_title{
    width: calc(100% - 2px);
    padding: 8px 6px;
    border: 1px solid #ddd9d9;
}
.rbfw_left_filter_search_btn{
    display: flex;
    padding:9px 10px;
    border: 1px solid var(--rbfw_color_primary);
    background-color: var(--rbfw_color_primary);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
.rbfw_left_filter_search_btn:hover{
    background-color: var(--rbfw_single_page_secondary_color);
    border: 1px solid var(--rbfw_single_page_secondary_color);
}

.rbfw_left_filter_more_feature_loaders{
    background-color: var(--rbfw_color_primary);
    text-align: center;
    margin: auto;
    font-size: 12px;
    padding: 4px 10px;
    cursor: pointer;
    border: 1px solid var(--rbfw_color_primary);
    color: #fff;
    margin-top: 10px;
}
.rbfw_left_filter_more_feature_loaders:hover{
    text-decoration: none;
    background-color: var(--rbfw_single_page_secondary_color);
    border: 1px solid var(--rbfw_single_page_secondary_color);
    
}
@media (max-width: 550px) {
    .rbfw_rent_list_wrapper_with_left_filter  {
        width: 100% ;
        margin-left: 0px;
    }

    .rbfw_rent_item_with_left_filter {
        display: grid;
        gap: 5px;
    }
    .rbfw_filter_sidebar {
        width: 100%;
        position: relative;
    }
}
