.rbfw_rent_list_lists_images{
    width: 35%;
    max-width: inherit;

    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.rbfw_rent_list_lists_info{
    display: grid;
    width: 65%;
    padding: 1px 5px;
    max-width: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.rbfw_rent_list_lists_left{
    display: flex;
    width: calc( 100% - 180px );
    /*width: 100%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-color: #0a4b78;*/
}
.rbfw_rent_show_result_list_grid_icon_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
}
.shoe_result_text {
    text-align: left;
    font-size: 16px;
    color: #333;
}
.rbfw_rent_list_grid_icon_holder {
    display: flex;
    gap: 10px; /
}
.rbfw_rent_lists_grid_view{
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    gap: 20px;
    /* background: #fff; */
    -webkit-box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0);
    /* border: 1px solid #d9d9d9; */
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
    justify-content: space-between;
    width: 100%;
    background-color: #f1f1e5;
    min-height: 620px;
}
.rbfw_rent_item_content_list_bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-inline-start: 0px;
    font-size: 14px;
    margin-left: 10px;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.rbfw_rent_list_btn_holder{
    width: 180px;
    padding-left: 15px;
}
.rbfw_rent_items_grid, .rbfw_rent_items_list {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    transition: background-color 0.3s ease;
}
.rbfw_rent_items_grid:hover, .rbfw_rent_items_list:hover {
    background-color: #e0e0e0;
}
.rbfw_rent_item_description{
    display: grid;
    width: 100%;
    text-align: left;
    max-height: 15px;
}
.rbfw_rent_item_description_text{
    color: #444444;
    font-size: 13px;
    width: calc( 100% - 20px );
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}
.selected_list_grid{
    background-color: #990000;
    color: #f6f6f6;
}


/*Animation*/
.rbfw_rent_list_lists_images,
.rbfw_rent_list_grid_view_top,
.rbfw_rent_item_content_list_bottom {
    transition: all 0.3s ease;
}
.rbfw_rent_list_grid_view_top {
    opacity: 1;
    transform: scale(1);
}
.rbfw_rent_list_lists_images {
    opacity: 1;
    /*transform: scale(0.9);*/
}

@media only screen and (max-width: 1220px) {
    .rbfw_rent_list_lists_left {
        width: 100%;
    }
    .bfw_rent_list_btn_holder{
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    .rbfw_rent_list_lists_view{
        display: grid;
    }
    .rbfw_rent_list_lists_images{
        min-height: 100%;
    }

    .rbfw_rent_list_style_list .rbfw_rent_list_inner_wrapper{
        display: grid;
    }

    .rbfw_rent_list_lists_images {
        width: 100%;
    }
    .rbfw_rent_list_lists_info{
        width: 100%;
        display: grid;
    }

    .bfw_rent_list_btn_holder {
        display: block;
        width: 100%;
    }
    .bfw_rent_list_booking_btn_holder {
        margin: 10px;
    }
}


/*Search Short Code*/


.rbfw_rent_item_search_elementor_section .rbfw_rent_item_search_elementor_container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


.rbfw_rent_item_search_container {
    display: flex;
    gap: 20px;
    position: relative;
    padding: 55px 35px 55px 40px;
    z-index: 2;
    box-shadow: 0 5px 35.2px 4.8px rgba(0, 0, 0, 0.08);
    background-color: #F8F8F8;
    border-bottom: solid 1px #666666;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
}
.rbfw_search_form_new{
    margin: auto;
}
.rbfwRentItemSearchTitleHolder{
    display: flex;
    position: relative;
    width: 130px;
}
.rbfw_rent_item_searchContentHolder{
    display: flex;
    width: calc( 100% - 130px );
    gap: 30px;
}
.rbfw_rent_item_searchTypeLocationHolder{
    display: flex;
    width: 55%;
    gap: 15px;
}
.rbfw_rent_item_search_dateButtonHolder{
    display: flex;
    width: 45%;
    gap: 30px;
}

.c-filter__field--header {
    flex: 0 0 auto !important;
    width: auto !important;
    margin-right: 65px;
    white-space: nowrap;
}

.rbfw_rent_item_SearchTitl_text {
    flex: 1 1 33%;
    position: relative;
    margin-right: 40px;
    /*margin-top: 15px;*/
}

.rbfw_rent_item_header {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.6px;
    color: #333333;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    width: 100px;
    padding-left: 10px;
}

.rbfw_rent_item_search_type_location{
    margin: 0;
    height: auto;
    line-height: 1.2;
    border: none;
    width: 100%;
    font-size: 15px;
    border-radius: 0;
    background-color: #f6f6f6f6;
    cursor: pointer;
    border-bottom: solid 1px #dddddd;
}

.rbfw_rent_item_search_item {
    /*flex: 1;*/
    /*min-width: 200px;*/
    display: flex;
    flex-direction: column;
}
#rbfw_rent_item_search_pickup_date{
    border-color: unset;
    padding: 7px 0px 0px 0px;
    border-width: unset;
    border-style: unset;
    background-color: unset;
    color: #666666;
    font-size: 15px;
}

label {
    font-size: 16px;
    padding-top: 8px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    padding-left: 12px;
}

select, input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    width: 100%;
}

.rbfw_rent_item_search_button_holder {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.rbfw_rent_item_search_button button {
    padding: 18px 10px;
    background-color: #e3b71e;
    /* margin-top: 9px; */
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.rbfw_rent_item_search_button button:hover {
    background-color: #0056b3;
}

.rbfw_rent_item_search_button button i {
    padding-left: 12px;
    margin-right: 8px;
}

.rbfw_rent_item_date_picker {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

label {
    position: relative;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    color: #666666;
    text-transform: uppercase;
    padding-bottom: 15px;
}


.rbfw_rent_item_search_date_picker_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: #ffffff; */
    padding: 7px;
    border-bottom: solid 1px #dddddd;
    color: #666666;
    font-size: 15px;
    /*min-width: 205px;*/
}

.rbfw_rent_item_search_date_picker_wrapper i {
    position: absolute;
    margin-top: 4px;
    right: 10px;
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
}

#calendar-icon {
    cursor: pointer;
}


@media (max-width: 1000px) {
    .rbfw_rent_item_search_container {
        display: block;
        width: 100%;
        padding: 30px 20px 30px 20px;
    }
    .rbfwRentItemSearchTitleHolder {
        display: block;
        position: relative;
        width: 100%;
        float: left;
    }
    .rbfw_rent_item_header{
        width: 100%;
        padding-bottom: 10px;
    }

    .rbfw_rent_item_searchContentHolder {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .rbfw_rent_item_searchContentHolder{
        display: block;
    }
    .rbfw_rent_item_searchTypeLocationHolder, .rbfw_rent_item_search_dateButtonHolder{
        width: 100%;
    }
    .rbfw_rent_item_search_button{
        margin-left: 50px;
    }
}
@media (max-width: 420px) {

    .rbfw_rent_item_search_container {
        display: block;
        width: calc(100% - 10px);
        padding: 10px 5px 10px 5px;
    }

    .rbfw_rent_item_search_button {
        margin-left: unset;
    }
}



