.rbfw_rent_list_style_list .rbfw_rent_list_inner_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}


.rbfw_rent_list_lists_images {
    width: 33%;
    max-width: inherit;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rbfw_rent_list_lists_info {
    width: 67%;
}

@media(max-width: 991px) {
    .rbfw_rent_list_style_list .rbfw_rent_list_inner_wrapper {
        flex-direction: column;
    }

    .rbfw_rent_list_lists_info, .rbfw_rent_list_lists_images {
        width: 100%;
    }
}


.rbfw_rent_list_lists_left {
    display: flex;
    width: calc(100% - 180px);
    /*width: 100%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-color: #0a4b78;*/
}

.rbfw_rent_show_result_list_grid_icon_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    gap: 15px;
    margin-bottom: 0;
}

.shoe_result_text {
    text-align: left;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

.rbfw_rent_list_grid_icon_holder {
    display: flex;
    gap: 10px;
/
}

.rbfw_rent_lists_grid_view {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    gap: 20px;
    /* background: #fff; */
    -webkit-box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0);
    /* border: 1px solid #d9d9d9; */
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
    justify-content: space-between;
    width: 100%;
    background-color: #f1f1e5;
    min-height: 620px;
}

.rbfw_rent_item_content_list_bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-inline-start: 0px;
    font-size: 14px;
    margin: 0 0 30px 0;
}

.rbfw_rent_item_content_list_bottom .bfw_rent_list_items {
    font-size: 16px;
    gap: 7px;
    color: #0a0a0a;
}

.rbfw_rent_item_content_list_bottom .bfw_rent_list_items i {
    color: var(--rbfw_color_primary);
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.rbfw_rent_list_btn_holder {

}

.rbfw_rent_items_grid, .rbfw_rent_items_list {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.rbfw_rent_items_list_grid svg {
    width: 24px;
    height: auto;
}

.rbfw_rent_items_grid:hover, .rbfw_rent_items_list:hover {
    background-color: #e0e0e0;
}

.rbfw_rent_item_description {
    display: grid;
    width: 100%;
    text-align: left;
}

.rbfw_rent_item_description_text {
    color: currentColor;
    font-size: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.rbfw_rent_list_style_list .rbfw_rent_item_description_text {
    display: -webkit-box !important;
}

.selected_list_grid, .selected_list_grid:hover {
    background-color: var(--rbfw_color_primary);
    border-color: var(--rbfw_color_primary);
    color: #f6f6f6;
}

.selected_list_grid svg path {
    fill: #fff;
}


/*Animation*/
.rbfw_rent_list_lists_images,
.rbfw_rent_list_grid_view_top,
.rbfw_rent_item_content_list_bottom {
    transition: all 0.3s ease;
}

.rbfw_rent_list_grid_view_top {
    opacity: 1;
    transform: scale(1);
}

.rbfw_rent_list_lists_images {
    opacity: 1;
    /*transform: scale(0.9);*/
}

@media only screen and (max-width: 1220px) {
    .rbfw_rent_list_lists_left {
        width: 100%;
    }

    .bfw_rent_list_btn_holder {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .rbfw_rent_list_lists_view {
        display: grid;
    }

    .rbfw_rent_list_lists_images {
        min-height: 100%;
    }

    .rbfw_rent_list_style_list .rbfw_rent_list_inner_wrapper {
        display: grid;
    }

    .rbfw_rent_list_lists_images {
        width: 100%;
    }

    .rbfw_rent_list_lists_info {
        width: 100%;
        display: grid;
    }

    .bfw_rent_list_btn_holder {
        display: block;
        width: 100%;
    }

    .bfw_rent_list_booking_btn_holder {
        margin: 10px;
    }
}


/*Search Short Code*/
@media (min-width:0px) {
    .rbfw_rent_item_searchContentHolder{
        background-color: #ccc;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .rbfw_rent_item_searchTypeLocationHolder,.rbfw_rent_item_search_dateButtonHolder{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .rbfw_rent_item_search_item{
        width: 100%;
    }

    .rbfw_rent_item_search-item_date{
        width: 100%;
        position: relative;
    }
    .rbfw_rent_item_search-item_date i{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 10px;
    }

    .rbfw_rent_item_search_button_holder{
        width: 100%;
    }

    .rbfw_rent_item_searchTypeLocationHolder select,.rbfw_rent_item_search_dateButtonHolder input{
        display: block;
        width: 100%;
        color: #333;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
    }
    .rbfw_rent_item_search_dateButtonHolder input{
        padding: 8px 10px;
    }
    input.rbfw_rent_item_search_submit{
        cursor: pointer;
        background-color: var(--rbfw_color_primary);
        color: #fff;
        border: 1px solid var(--rbfw_color_primary);
    }
}
@media (min-width:1024px) {
    .rbfw_rent_item_searchTypeLocationHolder,.rbfw_rent_item_search_dateButtonHolder{
        width: 50%;
        flex-direction: row;
    }

    .rbfw_rent_item_search_item{
        width: 50%;
    }

    .rbfw_rent_item_search-item_date{
        width: 50%;
    }

    .rbfw_rent_item_search_button_holder{
        width: 50%;
    }

}