/*  
    Author: Shahadat Hossain
    Email: raselsha@gmail.com 
    Version: 1.0.0

    Descriptoin: this file is main sass file that will compile one main css into /assets/admin/mp_main_settings.css
*/
//font awsome import

@import
  'styles/variables',
  'styles/faq',
  'styles/sidebar-collapse',
  'styles/spacing',
  'styles/color',
  'styles/nav',
  'styles/utility',
  'styles/form',
  'styles/button',
  'styles/custom';
