div.superSlider .iconIndicator,
div.superSlider .sliderPopup .popupClose {
	-webkit-transition: 350ms ease-in-out;
	-moz-transition: 350ms ease-in-out;
	-o-transition: 350ms ease-in-out;
	transition: 350ms ease-in-out;
}
/******************************/
div.superSlider .sliderPopup.in,
div.superSlider .sliderPopup .popupClose,
div.superSlider .slideIndicator,
div.superSlider .sliderMoreItem {
	display: -webkit-flex;display: flex;
	-webkit-justify-content: center;justify-content: center;
	-webkit-align-items: center;align-items: center;
}
/***************************/
div.superSlider {overflow: hidden;display: -webkit-flex;display: flex;background-color: #FFF;position: relative;}
div.superSlider .area_column {-webkit-flex-direction: column;flex-direction: column;}
div.superSlider .sliderAllItem {width: 100%;position: relative;overflow: hidden;}
div.superSlider .sliderItem img {width: 100%;max-height: 100%;}
div.superSlider .sliderItem {position: relative; float: left; width: 100%; margin-right: -100%;
	-ms-transform: translateX(100%);transform: translateX(100%);
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .06s ease-in-out; transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}
div.superSlider .sliderItem.activeSlide {z-index: 1;transform: translateX(0);}
div.superSlider .sliderItem.prevSlider {transform: translateX(-100%);z-index: 0;}
div.superSlider .sliderItem.nextSlider {transform: translateX(100%);z-index: 0;}
/*************Image Showcase***************/
div.superSlider .sliderShowcase {display: -webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between;}
div.superSlider .sliderShowcase.right,
div.superSlider .sliderShowcase.left {
	width: 18.65%;min-width: 18.65%;
	-webkit-flex-direction: column;
	flex-direction: column;
}
div.superSlider .sliderShowcase.style_2,
div.superSlider .sliderShowcase.style_2 {
	width: 39%;min-width: 39%;
	-webkit-flex-direction: initial;
	flex-direction: initial;
	flex-wrap: wrap;
}
div.superSlider .sliderShowcase.style_2 > div {width: calc(50% - 5px);margin: 0 var(--default-mp-xs) 0 0;}
div.superSlider .sliderShowcase.style_2 > div:first-child {width: 100%;margin: 0 0 var(--default-mp-xs) 0;}
div.superSlider .sliderShowcase.style_2 > div:last-child {margin: 0;}
div.superSlider .sliderShowcase.left {margin: 0 var(--default-mp-xs) 0 0;}
div.superSlider .sliderShowcase.right {margin: 0 0 0 var(--default-mp-xs);}
div.superSlider .area_column .sliderShowcase {width: 100%;min-width: 100%;}
div.superSlider .sliderShowcase.top {margin: 0 0 var(--default-mp-xs) 0;}
div.superSlider .sliderShowcase.bottom {margin: var(--default-mp-xs) 0 0 0;}
div.superSlider .sliderShowcaseItem {position: relative;overflow: hidden;}
div.superSlider .area_column .sliderShowcaseItem {width: calc(25% - var(--default-mp-xs));}
div.superSlider .sliderShowcase div.superSlider .area_column {margin: 0 0 var(--default-mp-xs) 0;position: relative;cursor: pointer;overflow: hidden;}
div.superSlider .sliderShowcaseItem img {height: 100%;}
div.superSlider .sliderMoreItem {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-border-radius: 5px;
	border-radius: 0;
	background-color: #000B;
	font-size: 18px;
	color: #FFF;
}
div.superSlider .sliderMoreItem span {margin: 0 5px;font-size: 10px;}
div.superSlider .sliderMoreItem span:last-child {font-size: 18px;}
/*******image indicator***************/
div.superSlider .slideIndicator {-webkit-flex-wrap: wrap;flex-wrap: wrap;margin: 5px -5px;}
div.superSlider .slideIndicatorItem { border: 3px solid #DDD;margin: 5px;background-color: #DDD;width: 75px;overflow: hidden;position: relative;}
div.superSlider .slideIndicatorItem.activeSlide { border-color: var(--active_color); background-color: var(--active_color);}
/*******Icon indicator***************/
div.superSlider .iconIndicator {
	position: absolute;
	z-index: 111;
	top: calc(50% - 15px);
	font-size: 20px;
	cursor: pointer;
	color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
}
div.superSlider .iconIndicator:hover {color: #FFF;}
div.superSlider .iconIndicator.prevItem {left: 20px;}
div.superSlider .iconIndicator.nextItem {right: 20px;}
/*************popup slider***************/
[data-target-popup] {cursor: pointer;}
div.superSlider .sliderPopup div.superSlider {
	display: -webkit-flex;display: flex;
	-webkit-justify-content: space-between;justify-content: space-between;
	-webkit-flex-direction: column;flex-direction: column;
	-webkit-align-items: center;align-items: center;
	height: 100%;width: 100%;overflow: hidden;
	margin: 0;position: relative;
}
div.superSlider .sliderPopup {
	display: none;position: fixed;
	left: 0;right: 0;top: 0;bottom: 0;z-index: 1111;
	overflow: hidden auto;background: #000C;
}
div.superSlider .sliderPopup .popupClose {
	position: absolute;z-index: 1111;cursor: pointer;top: 100%;right: 50px;
	width: 50px;height: 50px;
	background-color: #FFF;color: #222;font-size: 20px;
}
div.superSlider .sliderPopup .popupClose:hover {color: #FFF;background-color: #222;}
div.superSlider .sliderPopup .sliderAllItem { height: 70vh; background-color: transparent; margin: 0 auto;overflow: hidden;position: relative;}
div.superSlider .sliderPopup .sliderAllItem img {width: auto;height: 100%;}
div.superSlider .sliderPopup .popupHeader {border-bottom: 1px solid #FFF;}
div.superSlider .sliderPopup .popupHeader,
div.superSlider .sliderPopup .popupFooter {color: #FFF;padding: 15px;max-height: 15vh;overflow: hidden auto;margin: 0 auto;width: 100%;background-color: #222;position: relative;}
div.superSlider .sliderPopup .popupHeader {overflow: visible;}
div.superSlider .sliderPopup .popupHeader h2 {color: #FFF;text-align: center;}
div.superSlider .sliderPopup .popupFooter {border-top: 1px solid #FFF;}
div.superSlider .sliderPopup .popupBody {position: relative;width: 80%;max-width: 100vh;}
div.superSlider .sliderPopup .slideIndicator {margin: 0;}
