
.rbfw_nebula_template{
    max-width: 1440px;
    height: 100%;
    margin: 30px 0;
    max-width: var(--template-max-width);
    margin: auto;
    margin-top: 30px;
    background-color: transparent;
    header{
        text-align: right;
    }
    .rbfw-nebula-slider{
        width: 100%;
        height: 600px;
        overflow: hidden;
        margin-bottom: 70px;
        .rbfw-swiper{
            width: 100%;
            height: 70%;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            position: relative;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: cover;
                background-position: center;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .swiper-navigation{
                width: 100%;
            }   
        }

        .rbfw-swiper-thumbnail {
            height: 30%;
            box-sizing: border-box;
            padding: 10px 0;
            overflow: hidden;
            .swiper-slide {
                width: 25%;
                height: 100%;
                opacity: 0.4;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .swiper-slide-thumb-active {
                opacity: 1;
            }
        }
    }
    .title{
        text-align: center;
    }
    .devider{
        width: 200px;
        margin: 50px auto;
        height: 2px;
        background-color: #000;
    }
    .feature-lists{
        margin-bottom: 70px;
        .feature-title{
            text-align: center;
        }
        .feature-items{
            display: flex;
            justify-content: center;
            .item{
                width: 120px;
                height: 120px;
                background-color: #ddd;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 20px;
                text-align: center;
                i{
                    font-size: 35px;
                    padding:15px 20px;
                    color: #999;
                }
                h2{
                    font-size: 10px;
                    margin: 0;
                }
            }
        }
    }
    .start-booking{
        .rbfw-bikecarsd-booking{
            display:flex;
            justify-content: space-between;
            .booking-calender-view{
                width: 60%;
            }
            .booking-timeslot-view{
                width: 40%;
            }
        }
    }
}
