
// Applies a consistent margin for most common elements.
#{$main-selector}{
:where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .paragraph, ul, ol, pre, table, figure, blockquote, form, fieldset, dl, address, details, hr, aside, video) {
    + * {
       margin-block-start:0;
    }
  }
  // =======================typography==================
  body,
  p{
    color: $color-secondary;
    font-family: $font-text;
    font-size: $font-size;
    font-weight: initial;
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-heading;
    line-height: 1.3;
  }
  
  h1,
  .h1 {
      font-size: 2.375rem;
    }
  
  h2,
  .h2 {
    font-size: 2.1875rem;
    font-weight: 500;
  }
  
  h3,
  .h3 {
    font-size: 1.9375rem;
    line-height: 1.4;
  
  }
  
  h4,
  .h4 {
    font-size: 1.625rem;
    line-height: 1.4;
  
  }
  
  h5,
  .h5 {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  h6,
  .h6 {
    font-size: 1.0625rem;
    line-height: 1.5;
  }
  .fw-bold{
    font-family: $font-bold;
    font-weight:500;
  }
  
// ================container===============
.container{
  width: 1200px;
  margin: 0 auto;
}

.container-fulid{
  width:100%;
  margin: 0 auto;
}
// ==================

.component{
  background-color: $color-white;
  padding: calc($spacing*1.5);
  margin-bottom: calc($spacing*0);
  border-bottom: 1px solid $color-gray;
  &:last-child{
    border-bottom: 0 solid $color-gray;
  }
}



}