#{$main-selector}{
    .btn{
        border: 0px solid;
        box-shadow: none;
        background-color: $color-primary;
        border-radius: $border-radius;
        padding: $spacing calc($spacing * 1.5);
        color: $color-white;
        font-size: $font-size;
        transition: all $time ease-in-out;
        min-width: 100px;
    }
}