#{$main-selector}{
.nav{
    list-style: none;
  }
  .nav-item{
    background-color: $color-white;
    border-radius: $border-radius;
    margin: 0;
    margin-bottom:$spacing;
    padding:calc($spacing * 1.4) calc($spacing*2);
    cursor: pointer;
    transition: background-color $time;
    i{
      padding-right: .5rem;
    }
  }
  .nav-item:hover, .nav-item.active{
    background-color: $color-primary;
    color: $color-white;
  }
}