#{$main-selector}{

    .inside{
        margin: 0;
        padding: 0;
    }
    .notice-error,.notice{
        display: none;
    }
    .postbox-header{
        background-color: $color-primary;
        color: #fff;
        h2{
          color: $color-white;
          font-size:calc($font-size + 0.2rem);
        }
        .handle-actions{
            margin-top: 0;
            .handle-order-higher, .handle-order-lower, .toggle-indicator{
                color: $color-white;
            }
            
        }
    }

    section{
        padding: 20px;
        border: 1px solid $color-light;
        margin-top: -1px;
        border-radius: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label{
            margin: 0;
            font-size: 14px;
            font-family: DejaVuSansBold, sans-serif;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 8px;
            color: $color-secondary;
            font-weight: 600;
            span{
                color: $color-gray;
            }
        }
    }
     .testimonials{
        .testimonial{
            margin-bottom: 10px;
            position: relative;
            button{
                position: absolute;
                top: -5px;
                right: -5px;
                background-color: $color-primary;
                width: 25px;
                height: 25px;
                border: 1px solid $color-primary;
                border-radius: 50%;
                color: #fff;
                i{
                    color: $color-white;
                }
            }
            textarea{
                border-radius: 5px;
                border:1px ridge $color-gray;
            }
        }
    }
    .testimonial-clone{
        display: none;
    }
    .rbfw-pickup-clone{
        display: none;
    }
    .rbfw-drop-off-clone{
        display: none;
    }

    .feature-categories{
        .feature-category-clone{
            display: none;
        }
        .feature-category{
            border: 1px solid $color-light;
            margin-bottom: 10px;
            position: relative;
            header{
                padding:5px 10px;
                display: flex;
                justify-content: space-between;
                background-color: $color-light;
                
            }
            .feature-lists{
                padding: 5px;
                background-color: $color-white;
                .feature-items{
                    .feature-item-clone{
                        display: none;
                    }
                }
                
            }
            button{
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $color-primary;
                width: 25px;
                height: 25px;
                border: 1px solid $color-primary;
                color: #fff;
                i{
                    color: $color-white;
                }
            }
        }
    }

    .select2.select2-container{
        width: 100% !important;
        .selection{
            width: 100%;
        }
    }

    .mp_event_tab_area{
        display: flex;
        .mp_tab_menu{
            min-width: 250px;
            max-width: 283px;
            background-color: $color-light;
            padding: 25px 0 25px 25px;
            ul{
                li{
                    position: relative;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 15px;
                    color: $color-black;
                    border-left: 2px solid transparent;
                    font-size: 16px;
                    margin: 0;
                    i{
                        margin: 0 10px 0 0;
                        color: $color-primary
                    }
                    &.active,&:hover{
                        background-color: $color-white;
                        color: var(--d_color);
                        border-left: 2px solid $color-primary;
                        &::after{
                            width: 100%;
                        }
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        border-bottom: 1px solid $color-gray;
                        width: 90%;
                    }
                }
            }
        }
        .mp_tab_details{
            width: 80%;
            padding: 2% 5%;
            h2.mp_tab_item_title{
                padding: 0;
                color: $color-black;
                margin: 30px 0 20px 0;
                margin-bottom: 10px;
                font-size: 22px;
                line-height: 26px;
                font-family: DejaVuSansBold, sans-serif;
                font-weight: 700;
            }
            p.mp_tab_item_description{
                margin-bottom: 20px;
            }
        }
    }

    .select2-selection__rendered{
        padding: .25em;
        .select2-selection__choice{
            margin: .2em;
            .select2-selection__choice__remove{
                margin-right:.25em;
            }
        }
    }
    .ppof-settings .collapsible .header {
        background: #fff;
        padding: 8px 10px;
        margin-bottom: 5px;
        text-align: right;
    }
    .mpStyle .customCheckboxLabel {
        display: inline-block;
        span {
            &.customCheckbox{
                color: $color-black;
            }
        }
        
    }
    .gallery-images{
        display: flex;
        flex-wrap: wrap;
        justify-content:start;
        .gallery-image{
            width: 16.38em;
            height: 120px;
            margin: 5px;
            position: relative;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to right, transparent, $color-black);
                opacity: .5;
                position: absolute;
                top: 0;
                left: 0;
            }
            .remove{
                position: absolute;
                color: $color-white;
                bottom: 0;
                right: 0;
                width: 25px;
                height: 25px;
                background-color: $color-primary;
                text-align: center;
                border-radius: 5px 0 0 0;
                cursor: pointer;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0;
            }
        }
    }
    .rbfw_variations_table{
        .rbfw_variations_table_row{
            border: 1px solid $color-light;
            margin-bottom: 20px;
            header{
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 10px;
                gap: 15px;
                label{
                    margin: 0;
                }
            }
            .variations-inner-table{
                padding: 10px;
            }
            .mp_event_remove_move{
                text-align: right;
                display: flex;
                justify-content: end;
                button{
                    display: inline-block;
                    background-color: $color-primary;
                    color: $color-white;
                    border-radius: 5px 0 0 0 ;
                }
            }
        }
    }
    .rbfw_switch_return_date{
        display: inherit;
        margin: 0;
        .rbfw_enable_start_end_date_label{
            margin: 0;
            padding:3px;
            span{
                color: $color-black;
            }
            &.active{
                span{
                    color: $color-white;
                }
            }
        }
    }
    .service_category_title{
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        padding: 5px 0;
        border-bottom: 1px solid $color-light;
        label{
            margin: 0;
            margin-right: 10px;
        }
    }
    .services_category_wrapper{
        text-align: center;
    }
    .add-service-category{
        background-color: $color-primary;
        border: 1px solid $color-primary;
        &:hover{
            opacity: .8;
        }
    }
    .feature_category_title{
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        padding: 5px 0;
        border-bottom: 1px solid $color-light;
        width: 62%;
        margin: auto;
    }
    .feature_category_inner_item_wrap{
        width: 62%;
        margin: auto;
    }
    .add-feature-category{
        background-color: $color-primary;
        border: 1px solid $color-primary;
        &:hover{
            opacity: .8;
        }
    }
}