#{$main-selector}{

    .inside{
        margin: 0;
        padding: 0;
    }
    .notice-error,.notice{
        display: none;
    }
    .postbox-header{
        background-color: $color-primary;
        color: #fff;
        h2{
          color: $color-white;
          font-size:calc($font-size + 0.2rem);
        }
        .handle-actions{
            margin-top: 0;
            .handle-order-higher, .handle-order-lower, .toggle-indicator{
                color: $color-white;
            }
            
        }
    }

    section{
        padding: 20px;
        border: 1px solid $color-light;
        margin-top: -1px;
        border-radius: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label{
            margin: 0;
            font-size: 14px;
            font-family: DejaVuSansBold, sans-serif;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 8px;
            color: $color-secondary;
            font-weight: 600;
            span{
                color: $color-gray;
            }
        }
    }

    .testimonial-clone{
        display: none;
    }

    .feature-categories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 80%;
        .feature-category{
            margin-top:30px;
            .feature-list{
                display: flex;
                flex-direction: column;
                section{
                    width: 80%;
                }
            }
        }
    }

    .select2.select2-container{
        width: 100% !important;
        .selection{
            width: 100%;
        }
    }

    .mp_event_tab_area{
        display: flex;
        .mp_tab_menu{
            min-width: 250px;
            max-width: 283px;
            background-color: $color-light;
            padding: 25px 0 25px 25px;
            ul{
                li{
                    position: relative;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 15px;
                    color: $color-black;
                    border-left: 2px solid transparent;
                    font-size: 16px;
                    margin: 0;
                    i{
                        margin: 0 10px 0 0;
                        color: $color-primary
                    }
                    &.active,&:hover{
                        background-color: $color-white;
                        color: var(--d_color);
                        border-left: 2px solid $color-primary;
                        &::after{
                            width: 100%;
                        }
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        border-bottom: 1px solid $color-gray;
                        width: 90%;
                    }
                }
            }
        }
        .mp_tab_details{
            width: 80%;
            padding: 2% 5%;
            h2.mp_tab_item_title{
                padding: 0;
                color: $color-black;
                margin: 30px 0 20px 0;
                margin-bottom: 10px;
                font-size: 22px;
                line-height: 26px;
                font-family: DejaVuSansBold, sans-serif;
                font-weight: 700;
            }
            p.mp_tab_item_description{
                margin-bottom: 20px;
            }
        }
    }

    .select2-selection__rendered{
        padding: .25em;
        .select2-selection__choice{
            margin: .2em;
            .select2-selection__choice__remove{
                margin-right:.25em;
            }
        }
    }
    .ppof-settings .collapsible .header {
        background: #fff;
        padding: 8px 10px;
        margin-bottom: 5px;
        text-align: right;
        }
}